@page
@model Apkaweb.Pages.ShowMessagesModel

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .main-container {
            display: flex;
            flex-direction: column;
        }

        .message {
            padding: 5px; /* pole otaczające nazwę użytkownika i box z wiadomością */
            clear: both;
        }

        .right {
            float: right;
            text-align: right;
        }

        .left {
            float: left;
            text-align: left;
        }

        .box {
            padding: 10px; /* pole otaczające treść wiadomości w boxie */
            border-radius: 5px; /* zaoblenie boxa */
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            max-width: 800px;
            text-align: left;
        }

        .edit-area {
            max-width: 500px;
            max-height: 120px;
            min-width: 100px;
            min-height: 75px;
            width: 100%;
            height: 80px;
            padding: 5px;
            margin-right: 5px; /* odstęp od przyciksu save */
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: both;
            overflow: auto;
        }

        .flex-container {
            display: flex;
            margin-top: 5px;
        }

        .flex-container2 {
            display: flex;
        }

        .form-control {
            width: 1035px;
            height: 60px;
            margin-right: 5px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }

        .flex-send-message {
            display: flex;
            padding: 5px;
        }

        .delete-btn {
            margin-left: 5px; /* odstęp między guzikami delete i edit */
        }

        .delete-btn2 {
            margin-left: 5px; /* odstęp między guzikami delete i edit */
        }
        
        .save-btn {
            margin-bottom: 5px;
        }

        .edit-buttons {
            display: flex;
            flex-direction: column;
        }

            .edit-buttons button {
                flex-grow: 1;
            }

        .btn-outline-primary{
            padding: 3px;
        }
    </style>
</head>
<body>

    <h1>Chat</h1>

    <div class="main-container">
        <div>
            @foreach (var message in Model.Messages)
            {
                <div class="message @(message.UserId == User.Identity.Name ? "right" : "left")">
                    <p style="margin-bottom: 0; margin-left: 5px; margin-right: 5px; "><b>@message.UserId</b></p>

                    <div class="box">
                        <p style="margin-bottom: 0;">@message.Content</p>

                        <div class="flex-container">
                            @if (Model.CanDeleteOrEditMessage(User.Identity.Name, message.UserId, message.Id, "edit"))
                            {
                                <button type="button" class="btn btn-outline-primary edit-btn">Edit</button>
                                <form method="post" class="edit-form" style="display: none;" asp-page-handler="Edit" asp-route-messageId="@message.Id">
                                    <div class="flex-container2">
                                        <textarea class="edit-area" name="NewContent">@message.Content</textarea>
                                        <div class="edit-buttons">
                                            <button style="padding: 3px;" type="submit" class="btn btn-primary save-btn">Save</button>
                                            <button style="padding: 3px;" type="button" class="btn btn-secondary cancel-btn">Cancel</button>
                                        </div>
                                        @if (Model.CanDeleteOrEditMessage(User.Identity.Name, message.UserId, message.Id, "delete"))
                                        {
                                            <form method="post" asp-page-handler="Delete" asp-route-messageId="@message.Id">
                                                <button type="submit" class="btn btn-outline-primary delete-btn2">Delete</button>
                                            </form>
                                        }
                                    </div>
                                </form>
                            }
                            @if (Model.CanDeleteOrEditMessage(User.Identity.Name, message.UserId, message.Id, "delete"))
                            {
                                <button type="submit" class="btn btn-outline-primary delete-btn">Delete</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <form method="post">
            <div class="flex-send-message">
                <div>
                    <textarea class="form-control" id="messageInput" rows="3" asp-for="NewMessage"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const editButtons = document.querySelectorAll(".edit-btn");
        editButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const form = this.nextElementSibling;
                const originalContent = form.querySelector("textarea").value;
                form.dataset.originalContent = originalContent; // przechowywanie zawartości wiadomości (dla przycisku cancel)
                form.style.display = "block";
                this.style.display = "none";

                const deleteButton = this.parentElement.querySelector(".delete-btn");
                if (deleteButton) {
                    deleteButton.style.display = "none";
                }
            });
        });

        // logika przycisku cancel
        const cancelButtons = document.querySelectorAll(".cancel-btn");
        cancelButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const form = this.closest("form");
                const editButton = form.previousElementSibling;
                const deleteButton = editButton.parentElement.querySelector(".delete-btn");
                if (deleteButton) {
                    deleteButton.style.display = "block";
                }
                const originalContent = form.dataset.originalContent;
                const textarea = form.querySelector("textarea");
                textarea.value = originalContent; // przywracanie zawartości oryginalnej wiadomości (dla przycisku cancel)
                form.style.display = "none";
                editButton.style.display = "block";
            });
        });
    });
</script>
