@page
@model UserModel
@{
    ViewData["Title"] = "User";
}

<!DOCTYPE html>
<html>
<head>
    <title>Permissions Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-danger {
            margin-right: 5px;
            margin-top: 10px;
            padding: 10px;
            font-size: 20px;
            width: 100px;
            align-content: center;
            margin-left: 5px;
        }

        .box {
            margin: 5px;
            margin-top: 15px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            max-width: 100%;
            text-align: left;
        }

        .flex-container {
            display: flex;
            align-items: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            width: 55%;
        }

        tr:not(:last-child) td,
        tr:not(:last-child) th {
            border-bottom: 1px solid #ddd;
        }

        .btn-outline-primary {
            padding: 6px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1>My account</h1>
        <a href="/options" class="btn btn-danger"><b>Go back</b></a>
    </div>
    <div class="box">
        <table>
            <tr>
                <th>Username</th>
                <td>@Model.Username</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    <div class="flex-container" style="justify-content: space-between;">
                        @Model.Password
                        <a class="btn btn-outline-primary" asp-page="/ChangePassword">Change password</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>The date of the last unsuccessful login attempt</th>
                <td>@Model.FailedAttemptDate.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            <tr>
                <th>The date of the last successful login attempt</th>
                <td>@Model.SuccesAttemptDate.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            <tr>
                <th>The number of unsuccessful login attempts since the last successful login</th>
                <td>??? nie wiem skąd to wziąć</td>
            </tr>
        </table>
    </div>
    <div class="box" style="padding-left: 18px;">
        <div class="flex-container">
            <a>Do you want to enable the account lock?</a>
            <form method="post">
                <input type="hidden" name="userId" value="@Model.UserId" />
                <button type="submit" class="btn btn-outline-primary" asp-page-handler="ToggleBlock">
                    @if (Model.IsBlockEnabled == 1)
                    {
                        <span>Turn off</span>
                    }
                    else
                    {
                        <span>Turn on</span>
                    }
                </button>
            </form>
        </div>
        @if (Model.IsBlockEnabled == 1)
        {
            <br>
            <form method="post">
                <div class="flex-container">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <label for="numberOfAttempts">Choose a number of attempts before the account is locked</label>
                    <input type="number" class="form-control" style="width: 60px; margin-left: 10px;" id="numberOfAttempts" name="numberOfAttempts" value="@Model.NumberOfAttempts" min="1" max="5" />
                    <button type="submit" class="btn btn-outline-primary" asp-page-handler="SetNumberOfAttempts">Save</button>
                </div>
            </form>
        }
    </div>
</body>
</html>
