@page
@model UserModel
@{
    ViewData["Title"] = "User";
}

<h1>User Page</h1>

<div>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>
    <p>Failed Login Attempts: @Model.FailedLoginAttempts</p>
    <p>Is Blocked: @Model.IsBlockEnabled</p>
    <p>Number of Attempts: @Model.NumberOfAttempts</p>
</div>

<form method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <button type="submit" class="btn btn-primary" asp-page-handler="ToggleBlock">
        @if (Model.IsBlockEnabled == 1)
        {
            <span>Disable Account</span>
        }
        else
        {
            <span>Enable Account</span>
        }
    </button>
</form>

@if (Model.IsBlockEnabled == 1)
{
    <form method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            <label for="numberOfAttempts">Set Number of Attempts:</label>
            <input type="number" class="form-control" id="numberOfAttempts" name="numberOfAttempts" value="3" min="1" />
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="SetNumberOfAttempts">Set Number of Attempts</button>
    </form>
}